body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

* {
    /* border: solid red 1px; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/* Header section */

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-name {
    font-weight: bold;
    font-size: 24px;
}

ul.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 16px
}

ul a {
    color: #E5E7Eb;
    font-size: 18px;
    text-decoration: none;
}

header,
.top-content {
    padding: 0 10vw 0 15vw;
    background-color: #1F2937;
    color: #F9F8Fa;
}


/* Top Content */

.top-content {
    display: flex;
    height: 440px;
    align-items: center;
}

.top-content>* {
    flex: 1;
    height: 210px;
}

.left-content h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.left-content p {
    margin: 0;
    font-size: 18px;
    color: #E5E7Eb;
}

.top-content div.rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9d8f7;
    color: #1F2937;
}

.top-content .btn-top {
    background-color: #3882f6;
    padding: 8px 32px;
    font-weight: bold;
    font-size: 15px;
    color: #F9F8Fa;
    border-radius: 10px;
    margin: 8px 0;
    border: none;
}

footer {
    margin-top: auto;
}