body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}

* {
    /* border: solid red 1px; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/* Header section */

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-name {
    font-weight: bold;
    font-size: 24px;
}

ul.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 16px
}

ul a {
    color: #E5E7Eb;
    font-size: 18px;
    text-decoration: none;
}

header,
.top-content {
    padding: 0 10vw 0 15vw;
    background-color: #1F2937;
    color: #F9F8Fa;
    text-align: left;
}


/* Top Content */

.top-content {
    display: flex;
    height: 440px;
    align-items: center;
    gap: 10px;
    flex-flow: wrap row;
}

.top-content>* {
    flex: 1;
    height: 210px;
}

.left-content h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.left-content p {
    margin: 0;
    font-size: 18px;
    color: #E5E7Eb;
}

.top-content div.rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9d8f7;
    color: #1F2937;
}

.top-content .btn-top {
    background-color: #3882f6;
    padding: 8px 32px;
    font-weight: bold;
    font-size: 15px;
    color: #F9F8Fa;
    border-radius: 10px;
    margin: 8px 0;
    border: none;
}


/* Middle Content */

.middle-content {
    padding: 50px 0 100px;
}

.middle-content h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 40px; */
    margin: 50px auto;
    width: 60%;
}

.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 150px;
    color: #3a3f46;
}

.card .content-img {
    border: solid 5px #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}


/* Quotation Content */

.quotation-content {
    background-color: #E5E7Eb;
    color: #1F2937;
    padding: 100px 0;
}

.quotation-container {
    width: 60%;
    margin: 0 auto;
}

p.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

p.quote-author {
    text-align: end;
    font-size: 1.5em;
    font-weight: bold;
}


/* Call to Action */

div.call-to-action {
    background-color: #3882f6;
    height: 10em;
    width: 60%;
    margin: 100px auto;
    color: #E5E7Eb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    border-radius: 10px;
}

.call-to-action h3 {
    margin: 0;
    font-weight: bolder;
    font-size: 1.5em;
}

.call-to-action p {
    margin: 0;
}

.call-to-action button {
    background-color: #3882f6;
    padding: 8px 32px;
    font-weight: bold;
    font-size: 15px;
    color: #F9F8Fa;
    border-radius: 10px;
    margin: 8px 0;
    border: solid 2px #F9F8Fa;
}

footer {
    margin-top: auto;
    height: 5em;
    display: flex;
    background-color: #1F2937;
    color: #E5E7Eb;
    justify-content: center;
    align-items: center;
}